@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --panel-default-height: 70vh;
}


.background {
    height: 100vh;
    display: grid;
    grid-template-rows: 40vh 1fr;
}

.img-container {
    background: url("../hero-image.jpg") center / cover no-repeat;
    display: grid;
    justify-content: center;
}


.world-rank {
    position: relative;
    top: calc(((100vh - var(--panel-default-height)) / 2 - 12px));
}

.planet-earth {
    width: 100%;
    height: 100%;
}

.background-bottom {
    background-color: hsl(240, 2%, 12% );
}

.panel {
    position: absolute;
    left: 2vw;
    bottom: 0;
    background-color: hsl(240, 2%, 12%);
    border-radius: 10px 10px 0px 0px;
    top: calc(100vh - var(--panel-default-height));
    /* height: var(--panel-height); */
    width: 96vw;
    border-top: 2px solid hsl(231, 8%, 17%);
    border-left: 2px solid hsl(231, 8%, 17%);
    border-right: 2px solid hsl(231, 8%, 17%);
    padding: 15px 15px 0px 15px;
    color: #fff;
    font-family: "Inter", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 1px;
    display: grid;
    grid-template-rows: 2rem 1fr;
    row-gap: 1rem;
}

/*PANEL*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}

.header-input {
    border: none;
    outline: none;
    background-color: 	hsl(227, 10%, 17%);
    border-radius: 10px;
    height: 2rem;
    width: 19vw;
    padding-left: 2.2rem;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
}

.input-container {
    position: relative;
    /* border: 1px solid white; */
}

.input-search {
    position: absolute;
    top: 4px;
    left: 4px;
}

/*BODY*/

.body {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.sidebar {
    flex: 2;
    border: 1px solid white;
}

.table {
    flex: 8;
    border: 1px solid blue;
}