@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --panel-default-height: 70vh;
}

body {
    background-color: hsl(240, 2%, 12% );
}

.background {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 40vh 1fr;
}

.img-container {
    background: url("../hero-image.jpg") center / cover no-repeat;
    display: grid;
    justify-content: center;
}


.world-rank {
    position: relative;
    top: calc(((100vh - var(--panel-default-height)) / 2 - 12px));
}

.planet-earth {
    width: 100%;
    height: 100%;
}

.panel {
    position: absolute;
    left: 2vw;
    bottom: 0;
    background-color: hsl(240, 2%, 12%);
    border-radius: 10px 10px 0px 0px;
    top: calc(100vh - var(--panel-default-height));
    /* height: var(--panel-height); */
    width: 96vw;
    border-top: 2px solid hsl(231, 8%, 17%);
    border-left: 2px solid hsl(231, 8%, 17%);
    border-right: 2px solid hsl(231, 8%, 17%);
    padding: 15px 15px 0px 15px;
    color: #fff;
    font-family: "Inter", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    display: grid;
    grid-template-rows: 2rem 1fr;
    row-gap: 1rem;
    min-height: fit-content;
}

/*PANEL*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}

.header-input {
    border: none;
    outline: none;
    background-color: 	hsl(227, 10%, 17%);
    border-radius: 10px;
    height: 2rem;
    width: 19vw;
    padding-left: 2.2rem;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
}

.input-container {
    position: relative;
    /* border: 1px solid white; */
}

.input-search {
    position: absolute;
    top: 4px;
    left: 4px;
}

/*BODY*/

.body {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.sidebar {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.display-info {
    flex: 8;
}

.select-input {
    margin-top: 0.5rem;
    display: block;
    border-radius: 8px;
    height: 2rem;
    width: 100%;
    background: none;
    border: 2px solid hsl(231, 8%, 17%);
    color: white;

    option {
        background-color: hsl(231, 8%, 17%);
    }
}

.select-input:focus {
    outline: none;
}

.toggle-button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.region-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.toggle-button {
    height: 1.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    background: none;
    color: 	hsl(218, 6%, 75%);
}

.toggle-button-click {
    background-color: hsla(206, 3%, 50%, 0.3);
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.checkbox-input {
    margin-right: 5px;
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

.checkbox-input:checked {
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.checkbox-input:checked::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 0px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.status-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-header {
    font-size: 0.55rem;
    font-weight: 600;
}

.country-flag {
    width: 3.5rem;
    height: 2rem;
    border-radius: 3px;
    object-fit: cover;
}

.table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px 15px;
    margin-top: -15px;
    width: 100%;
    text-align: center;
}

.country-btn {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

/*Country Detail styles*/

.detail-container {
    display: grid;
    color: #fff;
    position: absolute;
    left: 25vw;
    bottom: 0;
    width: 50vw;
    background-color: hsl(240, 2%, 12%);
    border-radius: 10px;
    top: calc(100vh - var(--panel-default-height));
    font-family: "Inter", "Helvetica", sans-serif;
}

.detail-container > * {
    width: 50vw;
    height: fit-content;
    background-color: hsl(240, 2%, 12%);
    border-right: 2px solid hsl(231, 8%, 17%);
    border-left: 2px solid hsl(231, 8%, 17%);
    border-bottom: 2px solid hsl(231, 8%, 17%);
    padding: 10px 15px;
    font-size: 0.7rem;
}

.country-head {
    border-top: 2px solid hsl(231, 8%, 17%);
    border-radius: 10px 10px 0px 0px;
    display: grid;
    grid-template-rows: 8vh 1fr 1fr;
    row-gap: 1rem;
    place-items: center;
}

.country-body {
    display: flex;
    justify-content: space-between;    
}

.image {
    border-radius: 10px;
    width: 25%;
    transform: translateY(-2.5vw);
}

.country-img-container {
    display: flex;
    justify-content: center;
}

.head {
    display: grid;
    place-items: center;
}

.neighbouring-countries {
    border-radius: 0px 0px 10px 10px;
    display: grid;
    padding-bottom: 3rem;

    p {
        margin-bottom: 1rem;
    }
    img {
        width: 6vw;
        border-radius: 3px;
    }

    .bordering-countries {
        display: flex;
        gap: 8px;
    }
}

.bordering-countries__group > p {
    margin: 0;
}

.header-subsection {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-subsection__tab {
    display: flex;
    gap: 1rem;
    justify-content: stretch;
    align-items: center;
    height: 2rem;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: hsla(206, 3%, 50%, 0.3);
    color: 	hsl(218, 6%, 75%);
}

.divide {
    height: 100%;
    border-left: 2px solid hsla(230, 8%, 15%, 0.5);
}