:root {
    --panel-height: 70vh;
}


.background {
    height: 100vh;
    display: grid;
    grid-template-rows: 40% 60%;
}

.img-container {
    background: url("../public/hero-image.jpg") center / cover no-repeat;
    display: grid;
    justify-content: center;
}


.world-rank {
    position: relative;
    top: calc(((100vh - var(--panel-height)) / 2 - 12px));
}

.planet-earth {
    width: 100%;
    height: 100%;
}

.background-bottom {
    background-color: hsl(240, 2%, 12% );
}

.panel {
    position: absolute;
    left: 2vw;
    bottom: 0;
    background-color: hsl(240, 2%, 12%);
    border-radius: 10px 10px 0px 0px;
    margin: 0 auto;
    height: var(--panel-height);
    width: 96vw;
    border-top: 2px solid hsl(231, 8%, 17%);
    border-left: 2px solid hsl(231, 8%, 17%);
    border-right: 2px solid hsl(231, 8%, 17%);
}